snippet ji "Jinja Notation"
{% ${1:block} %}
endsnippet

snippet jie "Jinja End Block"
{% endblock %}
endsnippet

snippet jib "Jinja Block"
{% block ${1:content} %}

{% endblock %}
endsnippet

snippet jix "Jinja Notation"
{% extends '$1' %}
endsnippet


