snippet imp "Import"
import $1
endsnippet

snippet from "From import"
from ${1:package} import ${2:thing}
endsnippet

snippet flaski "Import from Flask"
from flask import $1
endsnippet

snippet flaskapp "Mounting Flask app"
from flask import Flask

app = Flask(__name__)
endsnippet
